/* Color Variables */
:root {
    --black: #0E0B16;
    --fuschia: #A239CA;
    --blue: #4717F6;
    --grey: #E7DFDD;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--black);
    color: var(--grey)
}

body {
    font-family: 'BioRhyme', serif;
}

header {
    text-align: center;
}

/* .col-2, .col-12, .col-9, .col-3 {
    padding-right: 5px;
    padding-left: 5px;
} */

.cards {
    padding-left: 5px;
    padding-right: 5px;
}
.fiveDay{
    padding-left: 15px;
}
.card-header {
    color: var(--blue);
}
.title{
    display: flex;
    flex: wrap;
}

.title p {
    padding-right: 15px;
}

