/* Color Variables */
:root {
    --black: #0E0B16;
    --fuschia: #A239CA;
    --blue: #4717F6;
    --grey: #E7DFDD;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--black);
    color: var(--grey)
}

body {
    font-family: 'BioRhyme', serif;
}

header {
    text-align: center;
}
